@import "tailwindcss";

@theme {
  --color-neon-blue: #00f3ff;
  --color-dark-bg: #0f172a;
  --color-glass: rgba(255, 255, 255, 0.05);
  --color-glass-border: rgba(255, 255, 255, 0.1);
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 antialiased;
  }
}
